:root {
  --font-family: "Sora", sans-serif;
  --heading-font-family: #7471fb;
  --secondary-color: #1fbecc;
  --body-font: #2e3a59;
  --section-color: linear-gradient(
    to top,
    rgba(152, 150, 241, 0.1),
    rgba(213, 155, 246, 0.1)
  );
  --background-color: linear-gradient(
    to top,
    rgba(199, 198, 255, 0.5),
    rgba(200, 253, 244, 0.7),
    white 100%
  );
  --neutral-color: rgba(255, 255, 255, 0.85);
  --icon-color: rgba(46, 58, 89, 0.51);
}

body {
  font-family: var(--font-family);
  text-align: center;
  background: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--body-font);
  font-family: var(--font-family);
}

h1 {
  font-size: 50px;
  font-weight: 400;
}

h3 {
  font-weight: 600;
  margin: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  text-align: left;
}

h2 {
  color: var(--heading-font-family);
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  max-width: 540px;
}

strong {
  font-size: 20px;
  color: var(--body-font);
  text-transform: uppercase;
}

.text-highlight {
  color: var(--heading-font-family);
  font-weight: 600;
  font-family: var(--font-family);
}

.hero {
  padding: 140px 20px;
  background: transparent;
  text-align: center;
}

.projects-row,
.projects-templates {
  padding: 50px 0px;
}

.project-content {
  background: var(--section-color);
  padding: 60px 100px;
  margin: 50px auto;
  max-width: 1090px;
  border-radius: 20px;
}

.projects-row {
  text-align: center;
  background: var(--neutral-color);
}

.projects-templates {
  background: transparent;
}

.top-page .container {
  max-width: 1090px;
  margin: 0 auto;
}

.top-page {
  text-align: left;
  margin: 0 auto;
  padding: 140px 20px;
  background: var(--neutral-color);
}

.top-page h1 {
  text-align: left;
}

.header-columns {
  text-align: left;
  padding-right: 70px;
}

a:hover {
  color: var(--body-font);
}

.main-links {
  color: var(--neutral-color);
  background: var(--secondary-color);
  border-radius: 8px;
  align-items: center;
  padding: 20px 50px;
  text-decoration: none;
  font-weight: 600;
}

.secondary-links {
  color: var(--secondary-color);
  background: var(--neutral-color);
  border: 1.5px solid;
  border-color: var(--secondary-color);
  border-radius: 8px;
  align-items: center;
  padding: 20px 50px;
  text-decoration: none;
  font-weight: 600;
}

.hero-image {
  box-shadow: 0px 10px 20px rgba(24, 126, 136, 0.4);
  border-radius: 10px;
  max-width: 200px;
}

.project-description {
  text-align: left;
  padding: 20px;
}

.project-description h3 {
  font-size: 16px;
}

.project-description a {
  text-decoration: none;
  color: var(--icon-color);
}

.text-box {
  text-align: left;
}

.card {
  box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
  border-radius: 10px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.card:hover,
.content-columns img {
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
  transition: ease-in;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.img-general {
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
  margin-top: 20px;
}

.content-columns {
  max-width: 1090px;
  margin: 0px auto;
  padding: 0px;
}

@media (max-width: 992px) {
  body {
    margin: 0;
    text-align: center;
  }
  .hero,
  .top-page,
  .content-columns {
    padding: 40px 20px;
  }

  .header {
    text-align: center;
    margin-top: 40px;
  }

  .header-columns {
    margin-top: 25px;
    text-align: center;
    padding: 0px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .text-box {
    text-align: left;
    font-size: 25px;
  }

  .text-top {
    text-align: left;
    font-size: 32px;
    line-height: 30px;
  }

  .hero-image {
    padding-bottom: 0px;
    margin: 0px auto;
    max-width: 120px;
  }

  .top-page {
    text-align: left;
  }

  .project-description {
    text-align: center;
  }

  .card-deck img {
    display: none;
  }

  .project-description h3 {
    font-size: 25px;
  }

  .project-description p {
    text-align: center;
  }

  .content-columns img {
    display: flex;
    text-align: center;
    margin: 0px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
  }
}
